/*======================================
			RESPONSIVE CSS
=======================================*/
@media(max-width:1024px) {

.slider-2 img {
	margin-top: 100px;
}
.slider-2 .text .btn{
	margin:12px 6px 0 0;
}
}
@media (max-width: 600px) {
	
}
@media(max-width:540px) {
.text {
	margin-top: 15%;
}
header .logo {
	width:100%;
	text-align:center;
}
header .social_icons{
	margin-left:0px;
}
.text{
	margin-top: 40% !important;
}
.btn{
	padding:10px 10px;
	font-size:12px;
}
.app_store li {
	display: inline-block;
	padding: 0 25px;
}
#features .features{
	padding:0px;
}
.tabs nav i {
	font-size: 25px;
	height: 50px;
	width: 50px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	line-height: 50px;
}
.tabs-style nav a{
	padding-top:20px;
}
#perfect .avaib li{
	padding: 0 25px;
}
#perfect .stores li{
	margin-top:10px;
	margin-bottom:10px;
	text-align:left !important;
}
.option .overlay{
	padding:50px 0;
}
#app li h5{
	margin-bottom:0px;
}
#app li{
	margin-bottom:20px;
}
#app ul{
	margin-bottom:0px;
}
#pricing ul li{
	margin-bottom:20px;
}
#testi p {
	line-height: 40px;
}
#news .input-news{
	width:100%;
}
.white-bar{
	display:none;
}

}
@media(max-width:400px) {
.slider-2 img{
	display:none;
}
.slider-2 .text{
	margin-top:10% !important; 	
}
.slider-3 .text{
	width:100%;
}

.slider-3 img{
	display:none;
}
.slider-3 .text{
	margin-top:10% !important; 	
}	
.carousel, .carousel-inner, .carousel-inner .item{
	height:600px;
}
.white-bar{
	
}
}
@media(max-width:320px) {
header .social_icons {
	float: right;
	margin-top: 0px;
}
.text .btn {
	margin-left: 0px;
	margin-right: 0px;
}
.text {
	margin-top: 45% !important;
}
.tabs nav i{
	height: 40px !important;
	width: 40px !important;
	font-size:18px !important;
	line-height:40px !important;
}
header .social_icons {
	float: left !important;
	margin-left: 0px !important;
}
}
@media(max-width:767px) {
.navbar-toggle {
	width: 40px;
	color: #fff;
}
.navbar-nav {
	margin: 0px;
}
.navbar-default {
	width: 100%;
}
.nav > li {
	width: 100%;
}
.navbar-default .navbar-nav > li > a {
	margin: 0px;
}
header {
	top: 0px;
	background: #595959;
	position:absolute !important;
}
.text {
	margin-top: 15%;
}
.tabs nav i {
	font-size: 40px;
	height: 80px;
	width: 80px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	line-height: 80px;
}
.tabs-style nav a{
	padding-top:30px;
}
#features .features{
	padding:0px;
}
.option .overlay{
	padding:50px 0;
}
.carousel, .carousel-inner, .carousel-inner .item {
	height: 720px;
	overflow: hidden;
}
.slider-2 img{
	margin-top:0px;
	position:absolute;
}
.slider-2 {
	margin-top: 119px;
	position: relative;
	z-index: 3;
}
}
@media(min-width:768px) and (max-width:991px) {
header .social_icons {
	margin-left: 15px;
}
.navbar-default .navbar-nav > li > a {
	font-size: 14px;
	padding: 10px 8px;
}
.social_icons a {
	width: 25px;
}
#features .features {
	padding: 0px;
}
#news .input-news {
	width: 80%;
}
#app ul {
	margin-bottom: 0px;
}
#app li {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
#app li h5 {
	margin-bottom: 0px;
}
.slider-2 img {
	margin-top: 0px;
	position: absolute;
}
.carousel, .carousel-inner, .carousel-inner .item{
	height:800px;
}
.slider-2 {
	margin-top: 185px;
}
.slider-3 .text{
	width:100%;
}
.text{
	margin-top:13%;
}
.slider-3 .iphone-land {
	float: right;
	margin-top: -200px;
}
}
@media(min-width:992px) and (max-width:1199px) {
}
@media(min-width:1200px) {
}
