
@{
    ViewBag.Title = "Contador";
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nova Outsourcing - Contador</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
    @Styles.Render("~/Content/css")

</head>
<body>
    &nbsp;<br /> <br />
    <div id="box">
        <a target="_blank" href="http://www.novaoutsourcing.com.br"> <img src="/images/logo.png" /></a><br /><br /> <h1> Numero de Visitantes: @ViewBag.Contador</h1>
        @Html.ActionLink("Voltar ao Site","Index","Home")
    </div>
</body>
</html>


