/*------------------------------------------------------------------

COLOR:	BLUE 	#0090d2

-------------------------------------------------------------------*/
.overlay, #testi .overlay{
	background: rgba(0,144,210,0.75); 
}
#perfect .stores, #pricing ul li .price, .botm-color, #team, #features, header .active, #team .team .des i, #news input[name="submit"], .item h4{
	background:#0090d2;
}
.btn:hover, #contact input[type="submit"]:hover, button:hover, #testi .owl-page, .navbar-default .navbar-nav > li > a:hover{
	background:#0090d2;	
}
.over{
	background: rgba(0,0,0,0.75) !important;	
}
#intro ul li i, .expand, #about .services li .icon i, #services .services li .icon i, #services .facts li i, .app_store i {
	color:#0090d2;
}
.btn:hover{
	border-color:#0090d2;
}
.tab-current i, #perfect h2{
	color: #0090d2 !important;
}
 #team .team .des p{
	color:#fff;
}
.is-sticky header{
	background: #2c2c2c;
}
#pricing ul li:nth-child(2) .price{
	background: #0090d2;	
}

#pricing ul li:nth-child(1) .price{
	background: #0090d2;	
}

