body {
            margin: 0px;
            padding: 0px;
            font-family: Tahoma, Verdana, Arial, sans-serif;
            background: #3b5a9b;
        }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#box {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 468px;
    margin: 0px 0px 0px -250px;
    padding: 15px;
    border: 1px solid #E0E0E0;
    background: #000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#box h1 {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 12px 36px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background: url('icone.png') left top no-repeat;
    border-bottom: 1px solid #CCCCCC;
}

#box p {
    margin: 12px 0px 0px 0px;
    padding: 0px;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
}

#box a {
    color: #ffffff;
}


